In [26]:
import pymongo
import pandas as pd
import numpy as np

In [36]:
uri="mongodb+srv://singhpritam382:rYCq7TiYelUQ9yYN@cluster0.hm3g8y3.mongodb.net/?retryWrites=true&w=majority"

In [49]:
client=pymongo.MongoClient(uri)

In [50]:
print(client)

MongoClient(host=['ac-qluiruz-shard-00-01.hm3g8y3.mongodb.net:27017', 'ac-qluiruz-shard-00-02.hm3g8y3.mongodb.net:27017', 'ac-qluiruz-shard-00-00.hm3g8y3.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-fcb2to-shard-0', tls=True)

In [51]:
database_name="INSURANCE"
collection_name="INSURANCE_PROJECT"

In [52]:
data=client[database_name][collection_name].find()

In [53]:
print(data)

<pymongo.cursor.Cursor object at 0x0000023C66B2D1F0>

In [54]:
data=list(data)

In [64]:
df=pd.DataFrame(data)

In [65]:
df.columns

Index(['_id', 'age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses'], dtype='object')

In [66]:
df.drop("_id",axis=1,inplace=True)

In [61]:
df.replace(to_replace='na',value=np.NAN,inplace=True)

In [67]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
expenses    0
dtype: int64

In [68]:
null_report=df.isna().sum()/df.shape[0]

In [74]:
null_report[null_report==0.0].index

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'expenses'], dtype='object')

In [75]:
from scipy.stats import ks_2samp

In [76]:
df['sex'].dtype

dtype('O')

In [77]:
from Insurance import config

mongodb+srv://singhpritam382:rYCq7TiYelUQ9yYN@cluster0.hm3g8y3.mongodb.net/?retryWrites=true&w=majority

In [79]:
[config.TARGET_COLUMN]

['expenses']

In [81]:
columns=df.columns

In [82]:
for i in columns:
    df[i]

In [94]:
df.squeeze()

      age     sex   bmi  children smoker     region  expenses
0      19  female  27.9         0    yes  southwest  16884.92
1      18    male  33.8         1     no  southeast   1725.55
2      28    male  33.0         3     no  southeast   4449.46
3      33    male  22.7         0     no  northwest  21984.47
4      32    male  28.9         0     no  northwest   3866.86
...   ...     ...   ...       ...    ...        ...       ...
1333   50    male  31.0         3     no  northwest  10600.55
1334   18  female  31.9         0     no  northeast   2205.98
1335   18  female  36.9         0     no  southeast   1629.83
1336   21  female  25.8         0     no  southwest   2007.95
1337   61  female  29.1         0    yes  northwest  29141.36

[1338 rows x 7 columns]